fastapi==0.111.1
uvicorn==0.23.2
google-api-python-client==2.95.0
google-auth==2.23.0
google-auth-httplib2==0.1.0
python-telegram-bot
httpx
pydantic
python-dotenv
google-auth-oauthlib
sqlalchemy
psycopg2-binary
apscheduler==3.10.6
