name: Keep Render API Awake

on:
  schedule:
    - cron: "*/5 * * * *"   # Har 5 daqiqada ping
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render API
        run: |
          curl -I -s https://ss-pdp-api.onrender.com || true
